.App {
    padding: 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books {
    display: flex;
    gap: 20px;
}

.book {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: rgb(183, 237, 219);
}

.delete {
    background-color: white;
    border: 1px solid rgb(231, 69, 69);
    color: rgb(242, 37, 37);
    padding: 3px 6px;
    cursor: pointer;
}

.update {
    background-color: white;
    border: 1px solid rgb(94, 101, 231);
    color: rgb(37, 51, 242);
    padding: 3px 6px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid gray;
}

.addBtn {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(94, 101, 231);
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.formBtn {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(94, 101, 231);
    color: white;
    border: none;
    cursor: pointer;
}
